@font-face {
    font-family: myFirstFont;
    src: url(font.TTF);
}
@font-face {
    font-family: boldfont;
    src: url(bold.OTF);
}
@font-face {
    font-family: normalfont;
    src: url(normal.TTF);
}

    body {
        background-image: linear-gradient(90.1deg, rgba(84, 212, 228, 1) 0.2%, rgba(68, 36, 164, 1) 99.9%);
    /* background: linear-gradient(0deg, rgba(224, 224, 224, 1) 0%, rgba(235, 235, 235, 1) 100%); */
    direction: rtl;
    text-align: center;
    /* background-image: url(22.webp);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center; */


}
.logo {
    
    display: block;
    margin: 0 auto;
}
p {
    font-family: normalfont;
    font-size: 20px;
}

.pp {
    font-size: 26px;
}
h1 {
    font-family: boldfont;
    color: white;
}
h2 {
    font-family: myFirstFont;
    font-size: 40px;
    font-weight: bolder;
    color: #ffbf2b;
    border: #e0e0e0
}
h3 {
    font-family: myFirstFont;
    font-size: 20px;
}
ul {
    font-family: myFirstFont;
    list-style-type: none;
    
}
a {
    font-family: myFirstFont;
    color: white;
    margin: 10px;
    text-decoration: none;
}
.binsta {
    background: #2b87ba;
    position: relative;
    padding: 5px 30px;
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid #2b87ba;
    border-radius: 20px;
    outline: none;
    overflow: hidden;
    color: rgb(255, 255, 255);
    transition: color 0.3s 0.1s ease-out;
    text-align: center;
    margin: 0 auto;
}

.binsta span {
    margin: 10px;
}

.binsta::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    content: '';
    border-radius: 50%;
    display: block;
    width: 20em;
    height: 20em;
    left: -5em;
    text-align: center;
    transition: box-shadow 0.5s ease-out;
    z-index: -1;
}

.binsta:hover {
    background-color: transparent;
    color: #2b87ba;
    border: 1px solid #2b87ba;
}

.binsta:hover::before {
    box-shadow: inset 0 0 0 10em #2b87ba;
}
.spe {
    text-decoration: none;
}


.copy {
    font-family: monospace;
    font-size: 10px;    
}

.companyname {
    font-size: 40px;
}


.white {
    background-color: #e0e0e0;
    border-radius: 40px;
    color: black;
}

.phone {
    font-family: myFirstFont;
    font-size: 25px;
}

nav {
    background-color: #00406d;
    border-radius: 20px;
    text-align: left;
}

.Services {
    color: white;
}

.blue {
    color: #2b87ba;
}

.info {
    color: white;
}

nav {
    position: fixed;
    top: 0%;
    left: 20;
    width: 99%;
    
    z-index: 200;
    background-color: rgba(0, 0, 0, 0.5);
    /* Change this to your desired background color */
    text-align: center;
    width: 550px;
    max-height: 0px;
}

.header {
    position: relative;
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    border-radius: 0;
    border-bottom: 1px solid #fff;
    background: transparent;
    padding-bottom: 1rem;
    text-align: center;
}

.title {
    display: block;
    font-family: myFirstFont;
    font-size: 40px;
    line-height: 1.25rem;
    text-transform: uppercase;
    color: #fff
}

.price-container {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: flex-start;
    gap: 4px;
    font-family: myFirstFont;
    font-size: 50px;
    line-height: 1;
}

.price-container span:first-child {
    margin-top: 10px;
    font-size: 10px;
    line-height: 2.5rem;
}

.price-container span:last-child {
    align-self: flex-end;
    font-size: 15px;
    line-height: 2.5rem;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.list p {
    display: block;
    font-family: normalfont;
}


.arrow {
    color: darkgray;
}



.pricing-plans {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.plan {
    width: 400px;
    /* Set fixed width */
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    background-color: #003a64;
    padding: 30px;
    margin: 0 20px;
    text-align: center;
    position: relative;
}

.plan h2 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #ffffff;
}

.plan .price {
    font-size: 30px;
    margin-bottom: 20px;
}

.plan .price span {
    font-size: 18px;
    vertical-align: super;
}

.price-container {
    color: white;
    font-family: myFirstFont;
    font-size: 40px;
}

.price-container span:first-child {
    margin-top: 5px;
    font-size: 15px;
    line-height: 3rem;
}

.price-container span:last-child {
    align-self: flex-end;
    font-size: 20px;
    line-height: 2.5rem;
}

.plan ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

.plan ul li {
    margin-bottom: 10px;
    color: #ffffff;
}

.arrow {
    display: inline-block;
    padding: 10px 30px;
    color: darkgrey;
    text-decoration: none;
    border-radius: 30px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.popular-badge {
    background-color: #ffc107;
    color: #333;
    padding: 5px 40px;
    position: absolute;
    top: 15px;
    right: -15px;
    border-radius: 20px 0 20px 0;
    font-weight: bold;
    transform: rotate(45deg);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.fontZz {
    color: white;
}

.lists {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.list {
    display: flex;
    align-items: center;
    gap: 10px;
}

.list span {
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.24);
    background-color: rgba(255, 255, 255, 0.185);
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.list p {
    display: block;
    font-family: normalfont;
}

#special span:last-child {
    align-self: flex-end;
    font-size: 15px;
    line-height: 2.5rem;
}

.popular-badge {
    font-family: myFirstFont;
}

.Btn {
    border: none;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: .4s;
    cursor: pointer;
    position: relative;
    background: #f09433;
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888', GradientType=1);
    overflow: hidden;
}

.svgIcon {
    transition-duration: .3s;
}

.svgIcon path {
    fill: white;
}

.text {
    position: absolute;
    color: rgb(255, 255, 255);
    width: 120px;
    font-weight: 600;
    opacity: 0;
    transition-duration: .4s;
    font-size: 12px;
}

.Btn:hover {
    width: 110px;
    transition-duration: .4s;
    border-radius: 30px;
}

.Btn:hover .text {
    opacity: 1;
    transition-duration: .4s;
}

.Btn:hover .svgIcon {
    opacity: 0;
    transition-duration: .3s;
}
